---
import Layout from '../../layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: { slug: string }) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props as Props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main>
    <div class="container mx-auto py-8">
      <h1 class="text-3xl font-bold mb-4">{post.data.title}</h1>
      <div class="prose">
        <Content />
      </div>
    </div>
  </main>
</Layout>
