---
import Layout from '../../layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: { slug: string }) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props as Props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="blog-post-wrapper">
    <h1 class="blog-post-header">{post.data.title}</h1>

    {post.data.image && (
      <img src={post.data.image} alt={post.data.alt || post.data.title} class="post-header-image" />
    )}

    <article class="blog-post-content">
      <Content />
    </article>
  </main>
</Layout>
