@import './themes.css';
@import './hero.css';
@import './about.css';
@import './experience.css';
@import './projects.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#spotlight {
  transition: background 0.3s ease;
  z-index: 0;
}

.nav-link.active .nav-indicator {
  width: 2rem;
  background-color: var(--color-accent);
  transition: width 300ms ease, background-color 300ms ease;
}

.nav-link.active .nav-text {
  color: var(--color-accent);
}