---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import BlogSection from '../components/BlogSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Liam Dale">
<main class="lg:flex lg:justify-between max-w-screen-xl mx-auto px-6 md:px-12 lg:px-16">
  <!-- Left: Sticky Hero -->
  <div class="w-full lg:w-[48%]">
    <div class="w-full lg:max-w-sm lg:sticky lg:top-0 lg:h-screen pt-24">
      <Hero />
    </div>
  </div>
    <!-- Right: Main Content -->
  <div class="w-full lg:w-[52%] pt-24">
    <About />
    <Experience />
    <Projects />
    <BlogSection />
    <Footer />
  </div>
</main>
</Layout>
