---
const currentYear = new Date().getFullYear();
---

<footer class="mt-20 border-skin-border pt-10 pb-6 text-left text-sm text-skin-muted">
  <p class="mb-2">
    Built with <a href="https://astro.build" class="highlight-link hover:underline" target="_blank">Astro</a> and styled using <a href="https://tailwindcss.com/" class="highlight-link hover:underline" target="_blank">Tailwind CSS</a>.
  </p>
  <p class="mb-2">
    Inspired by <a href="https://brittanychiang.com" class="highlight-link hover:underline" target="_blank">Brittany Chiang’s portfolio</a>.
  </p>
</footer>
